---
import catpng from "../assets/icon/cat.svg";
---

<header>
  <div>
    <img src={catpng.src} alt="icon" />
    <h1><a href="/">Mewo-Café</a></h1>
  </div>

  <div class="burger_container"><i class="fa-solid fa-bars"></i></div>

  <nav class="desktop-nav">
    <ul>
      <li><a href="/about" target="_blank">ABOUT</a></li>
      <li><a href="/the-cats" target="_blank">THE CATS</a></li>
      <li><a href="/contact" target="_blank">CONTACT</a></li>
    </ul>
  </nav>

    <nav class="mobil-nav">
    <ul>
      <li><a href="/about" target="_blank">ABOUT</a></li>
      <li><a href="/the-cats" target="_blank">THE CATS</a></li>
      <li><a href="/contact" target="_blank">CONTACT</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    background-color: rgb(69, 10, 10);
    display: flex;
    justify-content: space-between;
    padding: 0.6rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .fa-solid {
    display: none;
  }

  ul li {
    display: flex;
    justify-content: center;
    list-style-type: none;
    display: inline-block;
    padding: 0.8rem;
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  div {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
  }

  img {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
  }
  a {
    font-weight: bold;
    color: rgb(254, 252, 232);
  }
 
  .mobil-nav {
    display: none;
    position: fixed;
  }

  .mobil-nav ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: black;
    color: rgb(254, 252, 232);
    top: 70px;
    right: 10px;
  }

  a:hover {
    color: rgb(220, 38, 38);
  }

  .burger_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
    font-size: 1.5rem;
  }

  .burger_container:hover ~ .mobil-nav {
    color: #dbd1b4;
    display: flex;
  }

  @media (max-width: 768px) {
    .desktop-nav {
      display: none;
    }

    .fa-solid {
      display: block;
    }
  }
  
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var burgerContainer = document.querySelector(".burger_container");
    var mobilNav = document.querySelector(".mobil-nav");

    function closeNav() {
      mobilNav.style.display = "none";
    }

    burgerContainer.addEventListener("click", function () {
      mobilNav.style.display = "flex";
    });

    window.addEventListener("click", function (event) {
      var isClickInsideNav =
        burgerContainer.contains(event.target) ||
        mobilNav.contains(event.target);
      if (!isClickInsideNav) {
        closeNav();
      }
    });
  });
</script>